<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="super" connectionString="Data Source=ALLAN-LAPTOP\SQLEXPRESS; Initial Catalog=Aduana; Integrated security=true;"/>
    <add name="sudo" connectionString="Data Source=ALLAN-LAPTOP\SQLEXPRESS; Initial Catalog=Aduana; Persist security Info=true; User ID=allanxdtl; Password=nomanches"/>
    <add name="read" connectionString="Data Source=ALLAN-LAPTOP\SQLEXPRESS; Initial Catalog=Aduana; Persist security Info=true; User ID=allanxdtl; Password=nomanches"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="tipo_User" value="" />
  </appSettings>
</configuration>